<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.ecommerce.mapper.UserMapper">

    <!--
     resultMap：结果映射配置
     解决数据库列名和Java的属性名不一致的问题
     id标签标记主键列 result 标签标记普通列
     -->
    <resultMap id="BaseResultMap" type="com.example.ecommerce.entity.User">
        <!-- column 数据库列名 property Java属性名 -->
        <id column="id" property="id"/>
        <!-- ctrl+d 复制光标行 ctrl+y 删除光标行 -->
        <result column="username" property="username"/>
        <result column="password" property="password"/>
        <result column="nickname" property="nickname"/>
        <result column="email" property="email"/>
        <result column="phone" property="phone"/>
        <result column="role" property="role"/>
        <result column="status" property="status"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>
    <!-- SQL片段，可复用的列名 -->
    <sql id="Base_Column_List">
        id
        , username, password, nickname, email,phone,role,status,create_time,update_time
    </sql>

    <select id="selectById" resultMap="BaseResultMap">
        select
            <include refid="Base_Column_List" />
        from user
        where id = #{id}
    </select>

    <select id="selectByUsername" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from user
        where username = #{username}
    </select>

    <select id="selectAll" resultMap="BaseResultMap">
        select
            <include refid="Base_Column_List"/>
        from user
    </select>

    <select id="countAll" resultType="long">
        select count(1)
        from user
    </select>

    <delete id="delete" parameterType="java.lang.Long">
        delete from user
        where id=#{id}
    </delete>

    <update id="updatePassword">
        update user
        set password=#{password},update_time=now()
        where id=#{id}
    </update>
    <!--
    useGeneratedKeys="true" keyProperty="id"
    启用数据库自增主键的功能,插入数据后将会根据主键的值自动回填到user.id属性
    -->
    <insert id="insert" parameterType="com.example.ecommerce.entity.User"
            useGeneratedKeys="true" keyProperty="id">
        insert into user(username, password, nickname, email,phone,role,status,create_time,update_time)
        values (#{username}, #{password}, #{nickname}, #{email}, #{phone}, #{role}, #{status}, now(), now())
    </insert>

    <update id="update" parameterType="com.example.ecommerce.entity.User">
        update user
        set username = #{username},
            password = #{password},
            nickname = #{nickname},
            email = #{email},
            phone = #{phone},
            role = #{role},
            status = #{status},
            update_time = now()
        where id = #{id}
    </update>
</mapper>